km_models
.ipynb_checkpoints
**/*/.ipynb_checkpoints
*/.ipynb_checkpoints
*/__pycache__
outputs
*/_deprecated
ckpts*
mincut/build
mincut/mincut.c
mincut/mincut.cpython*
km/
results/
debugging_notebooks

